body {
    background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ), url('../images/jj.jpg') no-repeat center center;
    background-size: cover; /* sera écrasé par les media queries */
}

/* Conteneur principal */
#main {
    background-color: #fff;
    padding-bottom: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: 10px;
    opacity: 0.8;
}

#footer {
    padding-bottom: 30px;
}

@media (max-width: 767px) {
    body {
        background-size: 80%;          /* ⬅️ réduit encore l’image */
        background-position: center bottom; /* ⬅️ la fait descendre */
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-color: #f2f2f2;
    }

    #main {
        margin-top: 0.5em;   /* ⬅️ remonte un peu le bloc blanc */
    }
}


/* ---- DESKTOP ---- */
@media (min-width: 768px) {
    body {
        background-size: 80%;          /* même taille */
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #f2f2f2;
    }
}
