{% extends 'base.html' %}
{% load static %}

{% block page_head %}
<link href="{% static 'bigday/css/invitation.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
<div class="container" id="invitation-body">

    <section class="col-md-6 text-center">
        <div id="invitation-details">
            <h2>Jonathan et Juliette</h2>
            <p class="lead">
                9-11 Janvier 2025<br>
                Paris<br>
            </p>
        </div>
    </section>

    <section class="col-md-6">
        <form method="post" class="form-horizontal">
            {% csrf_token %}

            <h2 class="text-center">RSVP</h2>

            <div class="form-group col-sm-12">
                <label for="id_comments">Questions / commentaires</label>
                <textarea id="id_comments"
                          name="comments"
                          class="form-control"
                          placeholder="Allergies, poussette, logement, etc.">{{ party.comments|default_if_none:"" }}</textarea>
            </div>

            <h3>Votre présence</h3>

            <div class="row">
                <div class="col-sm-6">
                    <label for="id_nb_mairie">Nombre de personnes à la mairie</label>
                    <input type="number"
                        id="id_nb_mairie"
                        name="nb_mairie"
                        class="form-control"
                        min="0"
                        max="{{ guests|length }}"
                        value="{{ party.nb_mairie|default_if_none:0 }}">
                </div>

                <div class="col-sm-6">
                    <label for="id_nb_soiree">Nombre de personnes à la soirée</label>
                    <input type="number"
                        id="id_nb_soiree"
                        name="nb_soiree"
                        class="form-control"
                        min="0"
                        max="{{ guests|length }}"
                        value="{{ party.nb_soiree|default_if_none:0 }}">
                </div>
            </div>

            <div class="text-center" style="margin-top:20px;">
                <input type="submit" class="btn btn-primary" value="Submit Response" />
            </div>
        </form>
    </section>

</div>
{% endblock %}
