<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Mairie</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Quand</dt>
                    <dd>Vendredi 9 janvier 2026 à 11h</dd>

                    <dt>Adresse</dt>
                    <dd>
                        <address>
                            Hôtel de Ville de Charenton-le-Pont<br>
                            <a href="https://www.google.com/maps/dir//Hôtel+de+Ville,+48+Rue+de+Paris,+94220+Charenton-le-Pont/@48.8220374,2.4058804,15z/data=!3m1!5s0x47e672fb8bb24067:0x20361c6c4eecfe90!4m18!1m8!3m7!1s0x47e672fc6b55f2a7:0xd13c253bce39dbe8!2sHôtel+de+Ville!8m2!3d48.8197164!4d2.4160958!15sChhtYWlyaWUgY2hhcmVudG9uIGxlIHBvbnRaGiIYbWFpcmllIGNoYXJlbnRvbiBsZSBwb250kgEJY2l0eV9oYWxsmgEjQ2haRFNVaE5NRzluUzBWSlEwRm5TVU5hYWt4dWJVcFJFQUWqAU0KCy9nLzF0ajFsdjUzEAEyHhABIhrx7xGv_8XWT04hOGG5NmKzulSI50DO_SyI8jIcEAIiGG1haXJpZSBjaGFyZW50b24gbGUgcG9udOABAPoBBAhGEDQ!16s%2Fg%2F11btmq820h!4m8!1m0!1m5!1m1!1s0x47e672fc6b55f2a7:0xd13c253bce39dbe8!2m2!1d2.4160958!2d48.8197164!3e0?entry=ttu&g_ep=EgoyMDI1MTExNy4wIKXMDSoASAFQAw%3D%3D">
                                48, rue de Paris
                            </a><br>
                            94220 Charenton-le-Pont
                        </address>
                    </dd>

                    <dt>Transports</dt>
                    <dd>Métro ligne 8, arrêt Charenton-écoles</dd>

                    <dt>After Mairie</dt>
                    <dd>
                        Plus de détails à venir
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>

<section id="houppa-event" style="background-color:#0A9396;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Houppa</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Lieu</dt>
                    <dd>Détails à venir</dd>

                    <dt>Quand</dt>
                    <dd>Dimanche 11 janvier (heure à venir)</dd>
                    <!--
                    <dt>Adresse</dt>
                    <dd>
                        <address>
                            <a href="https://www.google.com/maps/dir//Synagogue+Charenton+Saint-Maurice,+Rue+des+Bordeaux,+Charenton-le-Pont/@48.8220374,2.4058804,15z/data=!4m9!4m8!1m0!1m5!1m1!1s0x47e672f85eeff03b:0x2acecf6fd83efdd!2m2!1d2.4104816!2d48.822272!3e0?entry=ttu">
                                41, rue des Bordeaux
                            </a><br>
                            94220 Charenton-le-Pont
                        </address>
                    </dd>
                    -->
                </dl>
            </div>
        </div>
    </div>
</section>

<section id="soiree-event" style="background-color:#006D77;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Soirée</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Lieu</dt>
                    <dd>Hôtel Kimpton St Honoré</dd>

                    <dt>Quand</dt>
                    <dd>Dimanche 11 janvier à partir de 18h</dd>

                    <dt>Adresse</dt>
                    <dd>
                        <address>
                            <a href="https://www.google.com/maps/place/Kimpton+St+Honoré+Paris/">
                                27–29, boulevard des Capucines
                            </a><br>
                            75002 Paris
                        </address>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
